:root {
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header{
  text-align: center;
  margin-top: 80px;
}

.header__title {
  font-size: 34px;
  color: var(--very-dark-blue);
  font-weight: 200;
  letter-spacing: 1.3px;
}

.header__title--bold {
  font-weight: 600;
}

.header__subtitle {
  margin: 18px 0 64px;
  width: 508px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
}

.card__item {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  margin: 15px;
  border: 1px solid var(--very-light-gray);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 5px 10px 45px -30px var(--grayish-blue);
  /* box-shadow: 5px 10px 45px -32px rgb(30, 105, 190); */
}

.supervisor {
  border-top: 4px solid var(--cyan);
}

.team-builder {
  border-top: 4px solid var(--red);
}

.karma {
  border-top: 4px solid var(--orange);
}

.calculator {
  border-top: 4px solid var(--blue);
}

.card__item__header {
  color: var(--very-dark-blue);
  font-size: 20px;
  font-weight: 600;
}

footer {
  padding-bottom: 16px;
}