:root {
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
}

.header__title {
  font-size: 34px;
  color: var(--very-dark-blue);
  font-weight: 200;
  letter-spacing: 1.3px;
}

.header__title--bold {
  font-weight: 600;
}

.header__subtitle {
  margin: 18px 0 50px;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 50px;
}

.card__item {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  margin: 15px;
  border: 1px solid var(--very-light-gray);
  border-radius: 5px;
  padding: 28px;
  box-shadow: 5px 10px 45px -30px var(--grayish-blue);
}

.supervisor {
  border-top: 4px solid var(--cyan);
}

.team-builder {
  border-top: 4px solid var(--red);
}

.karma {
  border-top: 4px solid var(--orange);
}

.calculator {
  border-top: 4px solid var(--blue);
}

.card__item__header {
  color: var(--very-dark-blue);
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 600;
}

.card__item__description {
  font-size: 13px;
  margin-bottom: 35px;
  flex: 1;
}

.card__item__icon {
  align-self: flex-end;
}

footer {
  padding-bottom: 16px;
}

@media only screen and (max-width: 1155px) {
  .card__container {
    max-width: 600px;
    flex:1
  }

}

@media only screen and (max-width: 580px) {

  .header__title {
    font-size: 22px;
  }

  .header__subtitle {
    margin: 18px 0 50px;
    padding: 0 40px 0;
  }

  .card__item {
    height: auto;
    width: auto;
    margin: 15px 30px 15px;
  }
}